{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}
{% block body %}


<h1>Erreur</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique placeat omnis, voluptas corporis quisquam rerum atque maxime, temporibus quaerat
    consequuntur ratione. Dolores alias porro sunt error aperiam dolor, beatae similique!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate harum, nemo laboriosam odio ea impedit! Cumque, dicta vel laudantium odio
    ex veniam, aliquam quia perferendis quod dolorum at numquam quidem!</p>

    <h3><a class="btn btn-primary" href="{{path('home') }}">Retourner a la page d'acceuil</a></h3>
{% endblock %}
