{% extends 'base.html.twig' %}

{% block title %}Show cde Detail!{% endblock %}

{% block body %}
<h1>Detail des commandes</h1>

<div class="container">
<h4 class="text-center mb-4 mt-4">Détail Commande</h4>
<table class="table table-dark">
<thead>
    <tr>
        <th>Nom Produit</th>
        <th>Quantité</th>
        <th>Montant</th>
        </tr>
</thead>

</table>


</div>

{% endblock %}
